API_KEY=sk-your-api-key-here
BASE_URL=https://api.siliconflow.cn/v1

KB_AUTH_URL=http://192.168.103.11:6093/kb-matrix-base/v1
KB_API_URL=http://192.168.103.11:6061/kb-matrix/data-infra/v1
KB_USERNAME=superadmin
KB_PASSWORD=your-password-here
